h1 {
    color-adjust: border-block-style;
}

.introduction {
    color: burlywood;
    text-align: center;
}

.upgrade {
    color: green;
    font-style: oblique;
    text-align: justify;
}

.fashion-styles {
    font-style: italic;
    text-indent: 20px;
}

img {
    float: left;
}

p {
    font-family: sans-serif;
    background-color: cornflowerblue;
    line-height: initial;
}

ul {
    line-height: 50px;
}